<form method="post" action="dddddd"  class="button_to">
  <div>
    <input type="submit" value="A Button" />
    <input name="authenticity_token" type="hidden" value="vR3jc9y22odANyIC+lwRzFAiQZmxQ5AqLc4pbW7ZV1g=" />
  </div>
</form>

<%= button_to "Next Step", :action => "s2" , :method => "get"%>

<form method="post" action="dddddd"  class="button_to">
  <div>
    <input type="submit" value="Another Button" />
    <input name="authenticity_token" type="hidden" value="vR3jc9y22odANyIC+lwRzFAiQZmxQ5AqLc4pbW7ZV1g=" />
  </div>
</form>