<h1>Last Page</h1>

<form name="myform" action="http://www.mydomain.com/myformhandler.cgi" method="POST">
<div align="left"><br>
<input type="checkbox" name="option1" value="Milk" id="a1"/> Should be checked<br/>
<input type="checkbox" name="option2" value="Butter" id="a2" checked/> Dont need this<br/>
<br/>
Enter Hello world here:
<input name="hello" id="a3"></input><br/>
Leave this one blank
<input name="bye" id="a4"></input><br/><br/>

Blue is our color:</br>
<select id="a5">
  <option value="red" >Red</option>
  <option value="blue" >Blue</option>
  <option value="yellow" >yellow</option>
  
</select>

<br/><br/>
It is odd!<br/>
<input type="radio" name="sex" value="Even" checked id="a8"/> Even<br />
<input type="radio" name="sex" value="Odd" id="a9"/> Odd

</div>
</form>